.bgWhite {
    background-color: #FFF;
}

.bgGray{
    background-color:#F3F3F3
}

.noShadow {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.gradientBtn {
    width: 353px;
    height: 103px;
    color: #FFF;
    font-weight: bold;
    background-size: cover;
    text-align: center;
    font-size: 24px;
    line-height: 90px;
    background: url('../images/arch_pbg.png') no-repeat left center;
}

.borderBox {
    border: 1px solid #eee;
    margin-bottom: 15px;
}

.mainTab {
    /*height:90px;*/
    display: flex;
}

.mainTab li {
    flex: 1 1 auto;
}

.mainTab li>a {
    padding: 10px 15px;
    display: inline-block;
    text-align: left;
    height: 90px;
    width: 100%;
    cursor: pointer;
}
/*.solTab{
    cursor: pointer;
}*/
.solTab li>a {
    text-align: center;
    height: 280px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}

.mainTab li>a, .mainTab li>a:hover, .mainTab li>a:active,
.solTab li>a, .solTab li>a:hover, .solTab li>a:active {
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.mainTab li>a:hover, .solTab li>a:active {
    color: #0e81a5;
}

.mainTab>.active>a,
.mainTab>.active>a:focus,
.mainTab>.active>a:hover,
.solTab>.active>a,
.solTab>.active>a:focus,
.solTab>.active>a:hover {
    border: none;
    outline: none;
    text-decoration: none;
}

.page-header {font-size: 40px;}
#tourong h2{font-size: 30px;color:#65bbf4}
#tourong img{display: block;}
#tourong div{display: block;overflow: hidden;zoom:1}
